body {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-synthesis: weight style;
    color: #3e3f3a;
}

.btn {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.order-count>input {
    width: 52px;
    text-align: right;
}

.navbar-brand {
    height: 45px;
    padding: 15px 15px;
}

.navbar-brand>img {
    margin: -4px 10px 4px 0px;
}

.navbar-toggle {
    float: left;
}

.navbar {
    min-height: 45px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-inverse .navbar-brand {
    color: #eee;
}

.jumbotron {
    margin-top: 30px;
}

i.fa {
    padding-right: 5px;
}

.date-col {
    min-width: 90px;
}

.jumbotron {
    min-height: 190px;
}

.form-login {
    margin-top: 20%;
}